<?define Name = "DnsUpdater" ?>
<?define Manufacturer = "dan3988" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)" Manufacturer="$(Manufacturer)" Version="1.0.0.0" UpgradeCode="19e67424-4140-4f67-bc30-a85f6fe1ead0">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<StandardDirectory Id="TARGETDIR">
			<Directory Id="ROOTDIRECTORY" Name="$(Name)"/>
		</StandardDirectory>

		<DirectoryRef Id="ConfigDir">
			<Component Id="UserConfig" Guid="7F70E464-8851-4CBD-8683-A350E350F586" Permanent="yes">
				<File Id="settings.Default.json" Name="settings.json" Source="..\DnsUpdater\settings.Default.json" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="AppConfig">
				<File Id="appsettings.json" Source="..\DnsUpdater\appsettings.json" />
			</Component>
			<Component Id="ServiceExecutable" Bitness="always64" Guid="7DC2BDFD-4A8B-4508-9C07-A9EDB79218F8">
				<File KeyPath="yes" Source="$(var.PublishDir)\DnsUpdater.exe" />

				<RemoveFile Name="*.*" On="both"/>

				<ServiceInstall
					Id="ServiceInstaller"
					Type="ownProcess"
					Name="DnsUpdater"
					DisplayName="$(Name)"
					Description="Dynamic DNS updater"
					Start="auto"
					ErrorControl="normal"/>

				<ServiceControl
					Id="StartService"
					Stop="both"
					Remove="uninstall"
					Name="DnsUpdater"
					Wait="true"/>
			</Component>
		</DirectoryRef>

		<Feature Id="Service" Title="DnsUpdater Setup" Level="1">
			<ComponentGroupRef Id="Bin"/>
			<ComponentRef Id="ServiceExecutable" />
			<ComponentRef Id="AppConfig" />
			<ComponentRef Id="UserConfig"/>
		</Feature>
	</Package>
</Wix>
